[submodule "ThirdParty/dag"]
	path = ThirdParty/dag
	url = https://github.com/triblatron/dag
[submodule "ThirdParty/qt-solutions"]
	path = ThirdParty/qt-solutions
	url = https://github.com/qtproject/qt-solutions
